*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

#container{
    width: 900px;
    margin: 0 auto;
}

/* HEADER START */

header {
    height: 200px;
    padding-top: 35px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
}

menu ul{
    list-style: none;
    margin-top: 20px;
    display: inline-flex;
    background-color: #b10333;
    border-radius: 6px;
}

menu ul li{
    border-right: solid 1px #69001e49;
}

menu ul li:last-child{
    border-right: none;
}

menu li a {
    display: block; 
    padding: 15px 30px; 
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
}

menu li a:hover {
    background-color: #69001d;
}

.primeiroA{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ultimoA{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* HEADER END */

body.home menu a#home {
    background: #de003e;
    color: #fff;
    cursor: text;
}

