* {
    margin: 0;
    padding: 0;
}

img{
    border-radius: 15px;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

footer {
    background-color: #294c71;
    color: #fff;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

#container {
    width: 900px;
    margin: 0 auto;
}

/* HEADER START */

header {
    height: 200px;
    padding-top: 35px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
}

menu ul {
    list-style: none;
    margin-top: 20px;
    display: inline-flex;
    background-color: #b10333;
    border-radius: 10px;
}

menu ul li {
    border-right: solid 1px #69001e49;
}

menu ul li:last-child {
    border-right: none;
}

menu li a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
}

menu li a:hover {
    background-color: #69001d;
}

.primeiroA {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ultimoA {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

body.home menu a#home,
body.brasil menu a#brasil,
body.internacional menu a#internacional,
body.economia menu a#economia,
body.saude menu a#saude,
body.ciencia menu a#ciencia,
body.mundo menu a#mundo {
    background: #de003e;
    color: #fff;
    cursor: text;
}

/* HEADER END */

main {
    display: inline-flex;
    margin-top: 10px;
}

main h2 {
    background-color: #294c71;
    border-radius: 8px;
    color: #fff;
    padding: 8px;
    text-align: center;
}

.conteudo {
    background-color: #ffff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.conteudo h3 {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #de003e;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-size: 0.9em;
}

.conteudo p {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #e3e0e0;
}

.conteudo a {
    color: #de003e;
    text-decoration: none;
}

.conteudo a:hover{
    text-decoration: underline;
}

/* lateral Column start */

#coluna-lateral {
    width: 210px
}

#lateral {
    background: url(imagens/fundo-caixa.png);
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#lateral .conteudo ul li {
    list-style: none;
    margin-bottom: 25px;
    font-size: 1em;
}

#lateral .conteudo ul li:last-child {
    margin-bottom: 0;
}

#lateral .conteudo a {
    text-decoration: none;
    color: #294c71;
}

#lateral .conteudo ul a:hover {
    background: url(imagens/marcador.png) no-repeat left center;
    padding-left: 22px;
    color: #b10333;
}

#notif {
    background: url(imagens/fundo-caixa.png);
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box
}

.email label {
    display: block;
    cursor: pointer;
    margin-bottom: 7px;
    color: #294c71;
}

.email input {
    padding: 5px;
    font-size: 0.9em;
    width: 92%;
    border: solid 2px #294c71ad;
    border-radius: 8px;
    outline: none;
}

.email input:focus {
    border-color: #de003f7b;
}

.submit input {
    margin-top: 8px;
    padding: 5px;
    cursor: pointer;
    font-size: 0.9em;
    color: #fff;
    border: solid #b10333;
    background-color: #de003e;
    border-radius: 8px;
}

.submit input:active {
    background-color: #294c71;
    border-color: #fff;
}

/* lateral column end */

#coluna-central {
    width: 325px;
}

.primario {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: url(imagens/fundo-caixa.png);
    border-radius: 10px;
    box-sizing: border-box;
}

#lista-noticias {
    list-style: none;
}

#lista-noticias a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.texto {
    display: flex;
    flex-direction: column;
}

.texto h5 {
    color: #de003e;
    margin: 0;
}

.texto p {
    margin: 0;
    font-size: 14px;
    background-color: #fff;
}

#lista-noticias a img {
    width: 110px;
}

#lista-noticias a:hover {
    text-decoration: underline;
    color: #de003e;
}

#lista-noticias li {
    margin: 10px 0;
}

#lista-noticias li:first-child {
    margin-top: 0;
}

#lista-noticias li:last-child {
    margin-bottom: 0;
}

/* central column end*/

#coluna-direita {
    width: 325px;
}

.secundario {
    padding: 10px;
    background: url(imagens/fundo-caixa.png);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/*STYLE*/

.entrevistador {
    color: #3f79b7;
    font-weight: bold;
}

.convidado {
    color: #de003e;
    font-weight: bold;
}
